.header {
  display: flex;
  justify-content: right;
  padding: 6% 6% 4% 6%;
  background-color: firebrick;
  color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.header h1 {
  font-size: 1rem;
  padding: 0;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.menu {
  display: inline-block;
  margin-top: 0.5rem;
}
