.header {
  display: flex;
  justify-content: space-around;
  height: max-content;
  padding: 1.25rem 0.5rem;
  background-color: firebrick;
  color: #fff;
}

.titleWrapper h1 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.titleWrapper .title {
  font-size: 1.5rem;
}

.menu {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .menu {
    display: none;
  }
  .titleWrapper h1 {
    text-align: center;
  }
}
